# Entornos virtuales de Python
venv/
.venv/
env/
ENV/

# Archivos de mapa en caché y datos locales
historial_rutas.json
*.graphml
*.gpkg
*.geojson
*.osm
data/
cache/

# Archivos compilados y bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribución / Empaquetado
build/
dist/
*.egg-info/
*.egg
*.spec

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
